.container {
    
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 100%;

    @include mobile {
        width: 480px;
    }

    @include tablet {
        width: 768px;
        padding-left: 32px;
            padding-right: 32px;
    }

    @include desktop {
        width: 1280px;
        padding-left: 16px;
        padding-right: 16px;
    }
}