
@import './utils/variables';
@import './utils/visually-hidden';
@import './utils/mixins';

@import './base/container';
@import './base/global';
@import './base/common';

@import './components/buttons';
@import './components/header-mobile';

@import './layout/heder';
@import './layout/main';
@import './layout/hero';
@import './layout/offerings';
@import './layout/favorites';
@import './layout/customers';
@import './layout/footer';
