:root {
    --brand-color-yellow: #FFE550;
    --brand-color-green: #BBF330;
    --color-white: #FEFEFE;
    --color-dark-green: #7EB101;
    --color-black: #2C2C2C;
    --brand-notvalid: #FF705D;;
  
    --background: radial-gradient(50% 50% at 50% 50%, #2F583F 0%, rgba(105, 105, 105, 0) 100%);
  
    //   breakpoints 
    --mobile: 320px;
    --tablet: 768px;
    --desktop: 1280px;
}