:root {
  --brand-color-yellow: #ffe550;
  --brand-color-green: #bbf330;
  --color-white: #fefefe;
  --color-dark-green: #7eb101;
  --color-black: #2c2c2c;
  --secondary-black: #000000;
  --brand-notvalid: #ff705d;
  --input-color: #505050;
  --btn-click: #ffe450;

  --background: radial-gradient(
    50% 50% at 50% 50%,
    #2f583f 0%,
    rgba(105, 105, 105, 0) 100%
  );

  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  //   breakpoints
  --mobile: 480px;
  --tablet: 768px;
  --desktop: 1280px;
}
