
<section class="customers">
    <div class="customers_container container">
        <div class="">
            <h2 class="customers__title">What our Customers Say</h2>
            <p class="customers__card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <ul class="customers__list">
                <li class="customers-card">
                    <svg class="icon-stars" width="101" height="16" aria-label="">
                        <use href="./images/customers/icons.svg#icon-stars"></use>
                        <p class="customers__card-text">
                            “The Best app I have used to order food in a while, so many
                            options to choose from too, I would recommend to a freind, No
                            questions asked”
                        </p>
                        <div class="customers__avatar">
                            <img src="./images/customers/customers-dude1.jpg" alt="">
                            <p class="customers__avatar-name">Sumith Shah</p>
                            <p class="customers__avatar-who">Some Dude</p>
                        </div>
                    </svg>
                </li>

                <li class="customers-card">
                    <svg class="icon-stars" width="101" height="16" aria-label="">
                        <use href="./images/customers/icons.svg#icon-stars"></use>
                        <p class="customers__card-text">
                            “The ease with which I can just go in and order what i want was amazing, It has been a very
                            pleasant experience ordering
                            from this app”
                        </p>
                        <div class="customers__avatar">
                            <img src="./images/customers/customers-dude2.jpg" alt="">
                            <p class="customers__avatar-name">Sumith Shah</p>
                            <p class="customers__avatar-who">Some Dude</p>
                        </div>
                    </svg>
                </li>
            </ul>

        </div>
        <div class="subscribe-container">
            <div><img srcset="
                          ./images/customers/banana-161@1.png 161w,
                          ./images/customers/banana-161@2.png 322w,
                          ./images/customers/banana-281@1.png 281w,
                          ./images/customers/banana-281@2.png 562w,
                          ./images/customers/banana-546@1.png 546w,
                          ./images/customers/banana-546@2.png 1092w
                        " sizes="(min-width: 1280px) 546px, (min-width: 768px) 281px, (min-width: 480px) 161px, 100vw"
                src="./images/customers/banana-161@1.png" alt="banana" class="customers__image"/>
        </div>
        <h2 class="customers__title">
            Subscribe To Get Special Offers
        </h2>
        <p class="customers__card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim
            in eros elementum tristique.</p>
        <form class="subscribe__form">
            <label class="subsribe__label">
                <input class="subscribe__input" type="email" name="mail" placeholder="Enter your email" required />
            </label>
            <button type="submit" class="subscribe__submit">
                Subscribe
            </button>
        </form>
    </div>
</section>
