<section class="section-customers">
<div class="customers_container container">
  <div class="">
    <h2 class="customers__title">What our Customers Say</h2>
    <p class="customers__card-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="customers__list">
      <li class="customers-card">
        <svg class="icon-stars" width="101" height="16" aria-label="stars">
          <use href="./images/customers/icons.svg#icon-stars"></use>
        </svg>
        <p class="customers__card-text">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>
        <div class="customers__avatar">
          <img src="./images/customers/customers-dude1.jpg" alt="dude1" />
          <p class="customers__avatar-name">Sumith Shah</p>
          <p class="customers__avatar-who">Some Dude</p>
        </div>
      </li>

      <li class="customers-card">
        <svg class="icon-stars" width="101" height="16" aria-label="dude2">
          <use href="./images/customers/icons.svg#icon-stars"></use>
        </svg>
        <p class="customers__card-text">
          “The ease with which I can just go in and order what i want was
          amazing, It has been a very pleasant experience ordering from this
          app”
        </p>
        <div class="customers__avatar">
          <img src="./images/customers/customers-dude2.jpg" alt="" />
          <p class="customers__avatar-name">Sumith Shah</p>
          <p class="customers__avatar-who">Some Dude</p>
        </div>
      </li>
    </ul>
  </div>
  
</div>
</section>