<section class="favorites">
  <div class="favorites__container container">
    <h1 class="favorites__title">Some of Our Favorites</h1>
    <p class="favorites__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorites__list">
      <li class="favorites__item">
        <div class="favorites_cover">
        <a href="" class="favorites__link">
          <img srcset="
              ./images/favorites/gamburger-224@1x.jpg 224w,
              ./images/favorites/gamburger-224@2x.jpg 448w,
              ./images/favorites/gamburger-268@1x.jpg 268w,
              ./images/favorites/gamburger-268@2x.jpg 536w,
              ./images/favorites/gamburger-315@1x.jpg 315w,
              ./images/favorites/gamburger-315@2x.jpg 630w
            "
            sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, (min-width: 480px) 223px, 100vw"
            src="./images/favorites/gamburger-315@1x.jpg"
            alt="gamburger"
            class="favorite__image"
        />
        </a></div>
      </li>
      <!-- <li class="favorites__item">
        <a href="#" class="favorites__link"
          ><div class="favorites__cover"><img srcset="" src="" alt="" class="favorite__image"
        /></div></a>
      </li>
      <li class="favorites__item">
        <a href="#" class="favorites__link"
          ><div class="favorites__cover"><img srcset="" src="" alt="" class="favorite__image"
        /></div></a>
      </li>
      <li class="favorites__item">
        <a href="#" class="favorites__link"
          ><div class="favorites__cover"><img srcset="" src="" alt="" class="favorite__image"
        /></div></a>
      </li>
      <li class="favorites__item">
        <a href="#" class="favorites__link"
          ><div class="favorites__cover"><img srcset="" src="" alt="" class="favorite__image"
        /></div></a>
      </li>
      <li class="favorites__item">
        <a href="#" class="favorites__link"
          ><div class="favorites__cover"><img srcset="" src="" alt="" class="favorite__image"
        /></div></a>
      </li> -->
    </ul>
  </div>
</section>
>
