<header>
  <div class="heder__container container">
    <div class="header__logo">
      <a class="header__logolink link" href="./index.html">
        <svg class="header__logosvg" width="66" height="52">
          <use href="./images/heder/symbol-defs.svg#icon-logo"></use>
        </svg>
      </a>
    </div>

    <div class="header__nav">
      <nav>
        <ul class="header__list">
          <li class="header__item">
            <a href="#" class="header__navlink link">Home</a>
          </li>
          <li class="header__item">
            <a href="#" class="header__navlink link">About</a>
          </li>
          <li class="header__item">
            <a href="#" class="header__navlink link">Service</a>
          </li>
          <li class="header__item">
            <a href="#" class="header__navlink link">Menu</a>
          </li>
          <li class="header__item">
            <a href="#" class="header__navlink link">Contact</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="header__order">
      <button type="button" class="header__button button">Order Now</button>
    </div>

    <button class="heder__mobile" type="button">
    <svg class="header__burger" width="28" height="28">
      <use href="./images/heder/symbol-defs.svg#burger-menu"></use>
    </svg>
    </button>
  </div>
</header>
