<section class="hero">
  <div class="hero-container container">
    <h1 class="hero-container__title">
      Enjoy Your Favorite Food From Anywhere
    </h1>
    <div class="hero-box">
      <div class="text-box">
        <p class="hero-container__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique. Duis cursus, mi quis viverra
          ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
        </p>
      </div>
      <div class="slick__list one-time">
        <div class="slick__item">
          <div class="slick__box">
            <img
              srcset="
                ./images/hero/meatball768@1x.png   292w,
                ./images/hero/meatball768@2x.png   584w,
                ./images/hero/meatball1280@1x.png  528w,
                ./images/hero/meatball1280@2x.png 1056w
              "
              sizes="(min-width: 1280px) 528px, (min-width: 768px) 292px, 100vw"
              src="./images/hero/meatball768@1x.png"
              alt="meatball"
            />
          </div>
        </div>
        <div class="slick__item">
          <div class="slick__box">
            <img
              srcset="
                ./images/hero/salad768@1x.png   292w,
                ./images/hero/salad768@2x.png   584w,
                ./images/hero/salad1280@1x.png  528w,
                ./images/hero/salad1280@2x.png 1056w
              "
              sizes="(min-width: 1280px) 528px, (min-width: 768px) 292px, 100vw"
              src="./images/hero/salad768@1x.png"
              alt="salad"
            />
          </div>
        </div>
        <div class="slick__item">
          <div class="slick__box">
            <img
              srcset="
                ./images/hero/poached768@1x.png   292w,
                ./images/hero/poached768@2x.png   584w,
                ./images/hero/poached1280@1x.png  528w,
                ./images/hero/poached1280@2x.png 1056w
              "
              sizes="(min-width: 1280px) 528px, (min-width: 768px) 292px, 100vw"
              src="./images/hero/poached768@1x.png"
              alt="poached egg"
            />
          </div>
        </div>
      </div>
    </div>
    <button class="hero-container__order" type="button">Order Now</button>
  </div>
</section>
