<div class="modal modal2" data-modal="2">
    <h2 class="modal__title">Order Form</h2>
    <form class="modal__form">
        <div class="modal__form-box">
            <div class="modal__wrapper">
                <label class="modal__label" for="name">Name</label>
                <input class="modal__input" id="name" placeholder="Your name" type="text" name="name" minlength="2"
                    maxlength="20" pattern="[a-zA-Zа-яА-ЯіІїЇ]+" required />
                <p class="modal__error">
                    <svg width="12" height="12">
                        <use href="./images/offerings/icons.svg#icon-error"></use>
                    </svg>
                    &nbsp;The name must be between 3 and 25 characters
                </p>
            </div>
            <div class="modal__wrapper">
                <label class="modal__label" for="phone">Phone number</label>
                <input class="modal__input" id="phone" placeholder="+38 (0_ _) _ _ _ - _ _ - _ _" type="tel"
                    name="phone" pattern="[\+]\d{2}\s[\(]\d{3}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}" title="+xx (xxx) xxx-xx-xx"
                    required />
                <p class="modal__error">
                    <svg width="12" height="12">
                        <use href="./images/offerings/icons.svg#icon-error"></use>
                    </svg>
                    &nbsp;This phone must be in the format +38 (099) 000-00-00
                </p>
            </div>
            <div class="modal__wrapper">
                <label class="modal__label" for="mail">E-mail</label>
                <input class="modal__input" id="mail" placeholder="example@gmail.com" type="email" name="mail"
                    required />
                <p class="modal__error">
                    <svg width="12" height="12">
                        <use href="./images/offerings/icons.svg#icon-error"></use>
                    </svg>
                    &nbsp;Please enter a valid email address
                </p>
            </div>
        </div>
        <div class="modal__btn-box">
            <button class="modal__btn button" type="submit">Send</button>
        </div>
    </form>
    <button class="modal__btn-close js-modal-close">
        <svg width="18" height="18">
            <use href="./images/offerings/icons.svg#icon-close"></use>
        </svg>
    </button>
</div>