.container-background {
  width: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: bottom;

  @include tablet {
    background-image: url(../images/offerings/bgimg-768-1@1x-min.jpg);
    background-size: 100% 1240px;

    @include retina-bgi {
      background-image: url(../images/offerings/bgimg-768-1@2x-min.jpg);
    }
  }

  @include desktop {
    background-image: url(../images/offerings/bgimg-1280-1@1x-min.jpg);
    background-size: 100% 924px;

    @include retina-bgi {
      background-image: url(../images/offerings/bgimg-1280-1@2x-min.jpg);
    }
  }
}
