.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 40;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  overflow: scroll;
  transition: all var(--transition);
}
.backdrop.active {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  padding: 32px 20px;
  top: 60px;
  left: 50%;
  width: 100%;
  max-height: 449px;
  background-color: var(--brand-color-yellow);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 30px;
  z-index: 50;
  transform: translateX(-50%) scale(1);
  transition: all var(--transition);
  @include mobile {
    min-width: 320px;
  }
  @include tablet {
    max-width: 458px;
    padding: 32px;
  }
  @include desktop {
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
  .backdrop & {
    transform: translateX(-50%) scale(0.6);
    @include desktop {
      transform: translate(-50%, -50%) scale(0.6);
    }
  }
}
.modal1.active,
.modal2.active,
.modal3.active {
  visibility: visible;
  opacity: 1;
  pointer-events: initial;
}

.modal__title {
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  margin-bottom: 20px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.modal__form-box {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.modal__label {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  margin-left: 12px;
  margin-bottom: 2px;
  color: var(--color-black);
}

.modal__wrapper {
  position: relative;
  display: block;
}

.modal__input {
  width: 100%;
  height: 48px;
  border: 1px solid rgba(18, 18, 18, 0.12);
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  background-color: var(--color-white);
  padding: 14px 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);
  color: var(--color-black);
  transition: all var(--transition);
  &:placeholder-shown {
    border: 1px solid var(---brand-color-yellow);
    outline: none;
  }
  &:focus {
    border-color: var(--color-dark-green);
    outline: none;
  }
  &:focus-within {
    border: 1px solid var(--brand-color-green);
    outline: none;
  }
  &:valid {
    border-color: var(--brand-color-green);
    outline: none;
  }
  &:invalid {
    border-color: var(--brand-notvalid);
  }
  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #c4c4c4;
  }
}

.modal__error {
  color: var(--brand-notvalid);
  font-weight: 500;
  font-size: 11px;
  line-height: 140%;
  position: absolute;
  left: 12px;
  display: flex;
  align-items: center;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: all var(--transition);
  @include desktop {
    font-size: 13px;
    line-height: 18.2px;
  }
}

.modal__input:not(:focus-within):not(:placeholder-shown):invalid
  + .modal__error {
  width: 100%;
  color: var(--brand-notvalid);
  height: 15px;
  opacity: 1;
  visibility: visible;
}

.modal__input:not(:focus-within):not(:placeholder-shown):invalid {
  border-color: var(--brand-notvalid);
}

.modal__btn-box {
  display: flex;
  justify-content: center;
}

.modal__btn {
  font-size: 13px;
  line-height: 150%;
  color: var(--color-black);
  min-width: 106px;
  height: 40px;
  padding: 10px 0;
  background-color: var(--color-white);
  border: 2px solid var(--color-dark-green);
  border-radius: 30px;
  transition: background-color var(--transition);
  &:hover,
  &:focus,
  &:active {
    background-color: var(--brand-color-green);
  }
  // &:disabled {
  //     border: 2px solid var(--brand-notvalid);
  //       background-color: var(--color-white);
  // }
}
.modal__btn-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 0;
  top: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
  background-color: var(--color-white);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: fill var(--transition);
  &:hover,
  &:focus {
    fill: var(--brand-color-green);
  }
}
