.footer {
  padding: 60px 0;
  width: 100%;
  background-repeat: no-repeat;

  background-size: cover;
  background-image: url(../images/footer/footer-phone-480@1x.png);
  @include retina-bgi {
    background-image: url(../images/footer/footer-phone-480@2x.png);
  }
  @include mobile {
    max-width: 767.99px;

    background-image: url(../images/footer/footer-tablet-768@1x.png);

    @include retina-bgi {
      background-image: url(../images/footer/footer-tablet-768@2x.png);
    }
  }

  @include tablet {
    max-width: 1199.99px;

    background-image: url(../images/footer/footer-tablet-768@1x.png);

    @include retina-bgi {
      background-image: url(../images/footer/footer-tablet-768@2x.png);
    }
  }
  @include desktop {
    max-width: 100%;

    background-image: url(../images/footer/footer-desktop-1200@1x.png);

    @include retina-bgi {
      background-image: url(../images/footer/footer-desktop-1200@2x.png);
    }
  }

  @include tablet {
    padding: 100px 0;
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.footer-container__wrap {
  @include desktop {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.footer-nav {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;

  @include tablet {
    align-items: center;
  }

  @include desktop {
    margin-bottom: 0;
  }
}

.menu-list {
  margin-left: 81px;

  @include tablet {
    display: flex;
    gap: 28px;
    justify-content: center;
    margin-left: 114px;
  }

  @include desktop {
    margin-left: 148px;
  }
}

.menu-list__item {
  margin-bottom: 20px;

  @include tablet {
    margin-bottom: 0;
  }
}

.menu-list__link {
  @include link;
  font-size: 14px;
  line-height: calc(16.41 / 14);

  color: var(--secondary-black);

  &:focus,
  &:hover {
    color: var(--color-dark-green);
  }
}

.footer__subscribe-box {
  margin-bottom: 60px;

  @include tablet {
    margin-bottom: 100px;
  }

  @include desktop {
    margin-bottom: 80px;
  }
}

.footer-title {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;

  color: var(--color-black);
}

.footer-subscribe {
  @include tablet {
    display: flex;
    flex-direction: row;
    gap: 13px;
  }
}
.footer-subscribe__label {
  @include tablet {
    width: 279px;
  }
}
.footer-subscribe__input {
  padding: 12px;
  width: 100%;
  outline: none;
  background-color: var(--color-white);
  border: 0.854167px solid var(--brand-color-yellow);

  border-radius: 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;

  color: var(--secondary-black);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:placeholder-shown {
    border-color: var(--brand-color-yellow);
  }

  &:focus-within {
    border-color: var(--brand-color-yellow);
  }
  &:valid {
    border-color: var(--brand-color-green);
  }

  &:focus:invalid {
    border-color: var(--brand-notvalid);
  }

  &:not(:focus-within):not(:placeholder-shown):invalid {
    border-color: var(--brand-notvalid);
  }

  &:focus,
  &:hover {
    border-color: var(--color-dark-green);
  }
}

.footer-error {
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  position: absolute;
  font-size: 10px;
  line-height: 150%;
  width: 330px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms linear;

  .footer-subscribe__input:not(:focus-within):not(:placeholder-shown):invalid
    + & {
    width: 330px;
    color: var(--brand-notvalid);
    height: 15px;
    opacity: 1;
    visibility: visible;
  }
}

.footer-icon-alert {
  width: 11px;
  height: 11px;
  fill: var(--brand-notvalid);
}

.footer__btn {
  text-align: right;
}

.footer-button-subscribe {
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;

  text-align: center;
  border-radius: 30px;
  border: 0.854167px solid var(--color-dark-green);
  color: var(--color-black);
  background: transparent;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  width: 103px;
  padding: 11px 22px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include tablet {
    margin-top: 0;
    margin-bottom: 0;
  }

  &:focus,
  &:hover {
    border-color: var(--brand-color-yellow);
  }
}

.footer__label {
  font-weight: 400;
  font-size: 10px;
  line-height: calc(12 / 10);

  color: var(--color-black);

  &_color_accent {
    color: var(--color-dark-green);

    &:focus,
    &:hover {
      color: var(--brand-color-yellow);
    }
  }

  @include tablet {
    font-size: 12px;
    line-height: calc(14 / 12);
    margin-top: 20px;
  }
}

.service-link {
  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.service-link__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

  font-weight: 400;
  font-size: 10px;
  line-height: calc(12 / 10);

  @include tablet {
    gap: 20px;
    margin-bottom: 0;
  }
  @include desktop {
    font-size: 12px;
    line-height: calc(14 / 12);
  }
}

.service-link__link {
  color: var(--color-dark-green);

  &:focus,
  &:hover {
    color: var(--brand-color-yellow);
  }
}

.footer__copyright {
  text-align: center;
  font-weight: 400;
  font-size: 10px;
  line-height: calc(12 / 10);

  color: var(--color-black);

  @include desktop {
    font-size: 12px;
    line-height: calc(14 / 12);
  }
}

// button - back - to - top

.back-to-top {
  position: fixed;
  right: 10px;
  bottom: 50px;
  width: 50px;
  height: 50px;
  border-color: transparent;
  border-radius: 50%;
  background-color: rgba(187, 243, 48, 0.5);

  // display: none;
}
.back_to_top:hover,
.back_to_top:focus {
  filter: brightness(1.5);
  outline: none;
}

.back-to-top__hide {
  display: none;
}

.back-to-top-img {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: rgba($color: #7eb101, $alpha: 0.8);
}
