.heder_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 72px;
    width: 100%;

    background-color: var(--color-white);
    box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
}

.header-nav__list{
    display: none;
    

    @include tablet{
        display: flex;
        flex-direction: row;

    }
}

.header-nav__item{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;

    color: var(--color-black);

    &:hover,
    &:focus{
        
        color: var(--brand-color-green);
    }
}