.hero-container {
    padding-top: 60px;
    padding-bottom: 50px;

    @include desktop {
        padding-top: 159px;
      }
    &__title {
        font-weight: 700;
        font-size: 28px;
        line-height: 1.18;
            
        margin-bottom: 28px;
    
        color: var(--color-black);
        @include tablet {
            font-size: 42px;
            margin-bottom: 44px;
            max-width: 537px;
          }
          @include desktop {
            font-size: 48px;
            margin-bottom: 28px;
            max-width: 502px;
          }
        
    }
    .hero-container__text{
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
       
    
        margin-bottom: 28px;
    
        color: var(--color-black);
        @include tablet {
            font-size: 16px;
            margin-bottom: 40px;
            max-width: 336px;
          }
    }
    .hero-container__order {
        width: 98px;
        height: 32px;
    
        font-weight: 500;
        font-size: 13px;
        line-height: 150%;
        text-align: center;
        color: var(--color-black);
        
        background-color: var(--brand-color-green);
        border-radius: 30px;
    
        cursor: pointer;
        border: 0;
        transition: background-color var( --transition);
        
        &:hover,
        &:focus {
            background-color: var( --btn-click);
        }
    }
    
}

.one-time{
    display: none;
    
    
    @include tablet {
        display: block;
        width: 320px;
        position: absolute;
        right: 20px;
        top: -65px;
        
    }
    @include desktop {
        width: 580px;
        height: 580px;
        top: -288px;
        
      }

}
.hero-box{
    display: flex;
    position: relative;
}
.slick__box{
  
    width: 320px;
    height: 320px;
    
    border-radius: 50%;
    border: 14px solid var( --brand-color-yellow);
    @include desktop {
        width: 580px;
        height: 580px;
            
        border: 26px solid var(--brand-color-yellow);
      }

}

.slick-slider .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    width: 34px;
    height: 28px;
    @include desktop {
        width: 48px;
        height: 40px;
      }
   
}

.slick-slider .slick-arrow.my-slick-prev {
    left: -9;
    background: url(../images/hero/prev1tab.svg);
    width: 34px;
    height: 28px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    border: none;
    transition: box-shadow var(--transition);
   
    &.slick-arrow.my-slick-prev:focus {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
        
    }
    
           
    @include desktop {
        background: url(../images/hero/prew1.svg);
        border-radius: 8px;
        width: 48px;
        height: 40px;
        transition: box-shadow var(--transition), background var(--transition);

       
        &.slick-arrow.my-slick-prev:focus {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
        }
        &.slick-arrow.my-slick-prev:hover {
            background: url(../images/hero/prev1hover.svg);
        }
            
      }
    
    
}

.slick-slider .slick-arrow.my-slick-next {
    right: -7;
    background: url(../images/hero/next1tab.svg);
    width: 34px;
    height: 28px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    border: none;

    &.slick-arrow.my-slick-next:hover,
    &.slick-arrow.my-slick-next:focus {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);

        
    }
    @include desktop {
        background: url(../images/hero/next1.svg);
        border-radius: 8px;
        width: 48px;
        height: 40px;
        transition: box-shadow var(--transition), background var(--transition);
      
        &.slick-arrow.my-slick-next:hover,
        &.slick-arrow.my-slick-next:focus {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
            background: url(../images/hero/next1hover.svg);
            }
        
      }
}

